{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 5px">
            <a class="btn btn-success " href="/depart/add/">添加</a>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            {% for item in query_set %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/depart/edit/?eid={{ item.id }}">编 辑</a>
                        <a class="btn btn-danger btn-xs" href="/depart/delete/?did={{ item.id }}">删 除</a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>

        </table>
    </div>
{% endblock %}