{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 编辑手机号 </h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div>
                        {% for obj in form %}
                        <label>{{ obj.label }}</label>{{ obj }}
                            <span style="color: red">{{ obj.errors }}</span>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary">提 交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}